.box {
  padding: 30px 0 20px;
}

/* The list style
-------------------------------------------------------------- */

.directory-list ul {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px dashed #ddd;
}

.directory-list li {
  list-style: none;
  color: #888;
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
}

.directory-list .folder,
.directory-list .folder > a {
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}

/* The icons
-------------------------------------------------------------- */

.directory-list li.folder:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
  background-position: center top;
  background-size: 75% auto;
  content: '';
  height: 20px;
  vertical-align: middle;
  width: 25px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 15px;
}

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-top: 15px;
}

.tools i {
  font-size: 46px;
  fill: #8a8a8a;
  transition: opacity 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
  margin-top: 10px;
}

.tools i:hover {
  opacity: 1;
}

.tools span {
  display: block;
}

.tools li {
  text-align: center;
}

.tool {
  font-size: 14px;
  margin-top: 10px;
  font-style: normal;
}

.svg-width svg {
  width: 25px;
  margin-top: 20px;
  fill: #8a8a8a;
  transition: opacity 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}

.svg-width svg:hover {
  opacity: 1;
}

.contact {
  margin-bottom: 4px !important;
  font-size: 18px;
}

.footer {
  margin: 50px 0;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.footer p {
  font-size: 14px;
  font-family: 'Akkurat-Light', sans-serif;
}
